body {
    font-family: 'Roboto', sans-serif;
    color: #2E2F42;
    background-color: #fff;
    line-height: 1.5;

}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}   




/* #region Header Navigation */

.header-nav{

}

.logo {
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.16667;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.logo-web {
color: #4D5AE5;
}

.nav-list{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
}

.nav-item a:hover, .nav-item a:focus {
    color: #404BBF;
}

/* #endregion Header Navigation */

/* #region Address */

.header-address {
font-size: 16px;
letter-spacing: 0.02em;
color: #434455;
font-style: normal;

}
.address-link a:hover, .address-link a:focus {
    color: #404BBF;
}

/* #endregion Address */

/* #region Hero */

.hero{
background-color: #2E2F42;
}

.hero-title {
font-weight: 700;
font-size: 56px;
line-height: 1.07143;
letter-spacing: 0.02em;
text-align: center;
color: #FFFFFF;

}

.hero-button {
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4D5AE5;
color: #FFFFFF;
cursor: pointer;
font-weight: 500;
font-size: 16px;
letter-spacing: 0.04em;
line-height: 1.5;
}

.hero-button:hover, .hero-button:focus {
    background-color: #404BBF;}

/* #endregion Hero */

/* #region features */

.features {


}

.features-title {

}

.features-list {

}

.features-item {

}

.features-item-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}

.features-item-text {
font-size: 16px;
letter-spacing: 0.02em;
color: #434455;
}

/* #endregion features */

/* #region Our Team */

.team {
background-color: #F4F4FD;
}

.team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
}

.team-list {

}   

.team-item {
background-color: #fff;
}   

.team-name {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
}

.team-position {
font-size: 16px;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
} 

/* #endregion Our Team */

/* #region Portfolio */

.portfolio {

}

.portfolio-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
}   

.portfolio-list {

}   

.address-item {

}

.portfolio-projects{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}

.projects-category{
font-size: 16px;
letter-spacing: 0.02em;
color: #434455;
}

/* #endregion Portfolio */  

/* #region Footer */    

.footer {
background-color: #2E2F42;
}

.logo-studio{
    color: #F4F4FD;
}

.footer-link {

}

.footer-text {
font-size: 16px;
letter-spacing: 0.02em;
color: #F4F4FD;
}

/* #endregion Footer */