

body {
    font-family: 'Roboto', sans-serif;
    color: #2E2F42;
    background-color: #fff;
    line-height: 1.5;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}   
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0; 
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* #region Header */ 

.header {border-bottom: 1px solid #e7e9fc}

.header-flex-box {
    display: flex;
    justify-content: space-between;
}

.header-nav {
    display: flex;
   align-items: center;
}

.nav-list {display: flex;
gap: 40px;}

.nav-item{
    display: block;    
    padding-top: 24px;
    padding-bottom: 24px;
}
.address-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}

.address-list {display: flex;
gap: 40px;}


.logo {
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.16667;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-right: 76px;
}

.logo-web {
color: #4D5AE5;
}

.nav-list{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
}

.nav-item a:hover, .nav-item a:focus {
    color: #404BBF;
}

.header-address {
font-size: 16px;
letter-spacing: 0.02em;
color: #434455;
font-style: normal;

}
.address-link a:hover, .address-link a:focus {
    color: #404BBF;
}

/* #endregion Header */

/* #region Hero */

.hero{
background-color: #2E2F42;
}

.container.hero {padding-top: 188px;
padding-bottom: 188px;}


.hero-title {
font-weight: 700;
font-size: 56px;
line-height: 1.07143;
letter-spacing: 0.02em;
text-align: center;
color: #FFFFFF;
width: 496px;
margin: 0 auto;
}
.buttun-container {display: flex;
    justify-content: center;}

.hero-button {
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4D5AE5;
color: #FFFFFF;
cursor: pointer;
font-weight: 500;
font-size: 16px;
letter-spacing: 0.04em;
line-height: 1.5;
padding: 16px 32px;
border-radius: 4px;
margin-top: 48px;
border: none;
outline: none;
}

.hero-button:hover, .hero-button:focus {
    background-color: #404BBF;}

/* #endregion Hero */

/* #region features */

.features {padding: 120px 0;}

.features-list {
display: flex;
gap: 24px;
}

.features-item {
width: calc((100% - (24px * 3)) / 4);
}

.features-item-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
}

.features-item-text {
font-size: 16px;
letter-spacing: 0.02em;
color: #434455;
}

/* #endregion features */

/* #region Our Team */

.team {
background-color: #F4F4FD;
padding-top: 120px;
padding-bottom: 120px;
}

.team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
padding-bottom: 72px;
}

.team-list {
display: flex;
gap: 24px;
}   

.team-item {
background-color: #fff;
width: calc((100% - (24px * 3)) / 4);
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
background: #fff;
border-radius: 0 0 4px 4px;
}   

.team-info {
padding: 32px 16px;
}

.team-name {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
padding-bottom: 8px;
}

.team-position {
font-size: 16px;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
} 

/* #endregion Our Team */

/* #region Portfolio */

.portfolio {
padding-top: 120px;
padding-bottom: 120px;
}

.portfolio-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;

padding-bottom: 72px;
}   

.portfolio-item-description {border-bottom: 1px solid #e7e9fc;
border-left: 1px solid #e7e9fc;
border-right: 1px solid #e7e9fc;
padding: 32px 16px;}

.portfolio-list {
    flex-wrap: wrap;
    display: flex;
    gap: 48px 24px;
}   
.portfolio-item {
    width: calc((100% - (24px * 2)) / 3);
}

.portfolio-projects{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
}

.projects-category{
font-size: 16px;
letter-spacing: 0.02em;
color: #434455;
}

/* #endregion Portfolio */  

/* #region Footer */    

.footer {
background-color: #2E2F42;
padding-top: 100px;
padding-bottom: 100px;
}

.footer-flex-box{
     display: flex;
     flex-direction: column;
     }

 .footer-logo{margin-bottom: 16px;
    font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.16667;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.logo-studio{
    color: #F4F4FD;
}

.footer-link {

}

.footer-text {
font-size: 16px;
letter-spacing: 0.02em;
color: #F4F4FD;
width: 264px;
}

/* #endregion Footer */